.darkerText {
  color: #111 !important;
  font-weight: bold;
}

.inputDarkPlaceholder::placeholder {
  color: #111 !important;
  opacity: 0.5;
}

.inputDarkText {
  color: #111 !important;
}

.selectDarkText {
  color: #111 !important;
  opacity: 0.5;
}
